.auth-container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #3c1053, #ad5389);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.auth-box {
  width: 100%;
  max-width: 900px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  text-align: center;
}

.auth-box h2 {
  color: #fff;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: none;
}

.auth-box button {
  width: 100%;
  padding: 14px;
  background: #ff7a18;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
